/* .vitepress/theme/custom.css */
:root.dark {
  --vp-c-bg: #0e0e0f;
  --vp-c-bg-alpha-with-backdrop: #0e0e0fcc;
  --vp-c-bg-soft: #111113;
  --vp-c-bg-alt: #111113;
  --vp-code-block-bg: #111113;
  --vp-button-alt-border: #777777;
  --vp-button-alt-bg: #3333;
  /*--vp-custom-block-info-bg: #32383c3b;*/
  --vp-c-bg-soft-up: #31313642;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #5ae27b, #42d392);
  --docsearch-container-background: #1c1d20cc;
  --vp-c-bg-mute: #111113;
  --docsearch-highlight-color: #111113 !important;
  
}

.DocSearch-Button {
    border-color: #41404055;
}

.modal-back {
    background: #3f434bab;
}

img[src*='#center'] {
    display: block;
    margin: auto;
}

.rh-tag {
    display: inline-block;
    width: 25px;
    margin: -10px 0 -5px 0;
}

.section-split {
    padding-top: 8px;
}

.section-split.next {
    margin-top: 70px;
}

.color-box {
    display: inline-block;
    width: 75px;
    height: 25px;
    border-radius: 5px;
    /*border: 1px solid;*/
    /* box-shadow: 0 0 0 2px black; */
    margin-bottom: -8px;
    margin-left: 3px;
}
